.Form-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.Form-container {
  flex-direction: column;
}

.Form__list-item {
  margin-left: 20px;
}

.Form-btn {
  margin-top: 20px;
}
