.Matrix {
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
}

.Matrix-btn {
  margin-bottom: 20px;
}

.Matrix-table,
.Matrix-table__row {
  display: flex;
}

.Matrix-table__row-titles,
.Matrix-table__column-titles,
.Matrix-table__delete-row-icons {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.Matrix-table__row-titles,
.Matrix-table__delete-row-icons {
  flex-direction: column;
}

.Matrix-table__row-titles {
  margin-right: 10px;
  text-align: center;
}

.Matrix-table__delete-row-icons {
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  justify-content: space-evenly;
}

.Matrix-table__data {
  display: grid;
}

.Matrix-table__column-titles {
  margin-bottom: 10px;
}

.Matrix-table__cell{
  padding: 10px;
  margin: 1px;
  border: 1px solid rgba(5, 5, 5, 0.5);
  border-radius: 5px;
  width: 60px;
  text-align: center;
  cursor: pointer;
}

.Matrix-table__cell-data {
  &:hover {
    background-color: rgb(0, 128, 0, 0.2);
  }
}

.Matrix-table__sum-column {
  margin-top: 11px;
}

.Matrix-table__sum-column-title {
  font-weight: bold;
}

.Matrix-table__sum-cell, .Matrix-table__avg-cell {
  border-width: 2px;
  border-color: rgba(5, 5, 5, 0.5);
  background-color: rgba(5, 5, 5, 0.1);
  font-weight: 500;
}